html {
    font-family      : sans-serif;
    background-color : #a5d6a7;
    color: #1b5e20;
}

#header {
    font-family : 'Noto Sans', sans-serif;
    font-size   : 60px;
    text-align  : center;
}

#links {
    text-align : center;
}

#links a {
    text-decoration : none;
    color           : #66bb6a;
    cursor: pointer;
}

#quote {
    text-align: center;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.project {
    position: relative;
    height: 25em;
    width: 100%;
}

.visual.right {
    text-align: right;
}

.desc {

}
.visual {
    width: 100%;
    
}

.autosteam {
    width: 512px;
    height: 256px;
}





.projectContainer {
    padding-left: 2%;
}



.projectLTitle {
    font-size: 120%;
}

.projectLDesc {
    font-size: 90%;
    text-align: justify;
}
.projectLLeft {
    padding-top: 1%;
    width: 35%;
    
    float: left;
}

.projectRRight {
    padding-left: 1%;
    padding-top: 1%;
    width: 75%;
}

.projectRTitle {
    font-size: 120%;
    width: auto;
    text-align: right;
}

.projectRDesc {
    font-size: 90%;
    text-align: justify;
}
.projectRLeft {
    padding-top: 1%;
}

.projectRRight {
    padding-left: 1%;
    padding-top: 1%;
    width: 35%;
    float: right;
}

/*
#links a.tooltip::before {
    content   : attr(data-tooltip);
    font-size : 12px;
    position  : absolute;
    z-index   : 1;
    
    margin-top  : -12px;
    
    color   : #cc9900;
    opacity : 0;
    
    -webkit-transition : opacity 0.5s ease-out;
    -moz-transition    : opacity 0.5s ease-out;
    transition         : opacity 0.5s ease-out;
}
     
#links a.tooltip:hover::before {
    opacity : 1;
}
*/