html {
    font-family      : sans-serif;
    background-color : #2e3136;
    color: #ffffff;
}

h3 {
    font-size: 120%;
}

#header {
    font-family : 'Noto Sans', sans-serif;
    font-size   : 60px;
    text-align  : center;
}

#links {
    text-align : center;
}

#links a {
    text-decoration : none;
    color           : #8a8e94;
    cursor: pointer;
}

#quote {
    text-align: center;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    text-decoration: underline;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    font-weight: 400;
    font-family : 'Noto Sans', sans-serif;
}

.project {
    position: relative;
    
    width: 100%;
}

.right {
    text-align: right;
}

.desc a {
    text-decoration: none;
    color: #388e3c;
}
.visual {
    width: 100%;
}
.visual > video {
    border-radius: 8px 8px 4px 4px;
}

.autosteam {
    height: 320px;
}

.divemaster {
    height: 512px;
}

.linkshort {
    height: 128px;
}

.ttr {
    height: 150px;
}

.projectLinks a {
    font-size: 90%;
    font-weight: 300;
    text-decoration: none;
    color: #388e3c;
    font-family : 'Noto Sans', sans-serif;
}

/*
.projectContainer {
    padding-left: 2%;
}

.projectLTitle {
    font-size: 120%;
}

.projectLDesc {
    font-size: 90%;
    text-align: justify;
}
.projectLLeft {
    padding-top: 1%;
    width: 35%;
    
    float: left;
}

.projectRRight {
    padding-left: 1%;
    padding-top: 1%;
    width: 75%;
}

.projectRTitle {
    font-size: 120%;
    width: auto;
    text-align: right;
}

.projectRDesc {
    font-size: 90%;
    text-align: justify;
}
.projectRLeft {
    padding-top: 1%;
}

.projectRRight {
    padding-left: 1%;
    padding-top: 1%;
    width: 35%;
    float: right;
}


#links a.tooltip::before {
    content   : attr(data-tooltip);
    font-size : 12px;
    position  : absolute;
    z-index   : 1;
    
    margin-top  : -12px;
    
    color   : #cc9900;
    opacity : 0;
    
    -webkit-transition : opacity 0.5s ease-out;
    -moz-transition    : opacity 0.5s ease-out;
    transition         : opacity 0.5s ease-out;
}
     
#links a.tooltip:hover::before {
    opacity : 1;
}
*/
